In [30]:
import pandas as pd
import statistics as st
import matplotlib_inline as plt
import numpy as np

In [4]:
pd.read_excel("Data_Train.xlsx").to_csv("Data_Train1.csv", index=False)

In [7]:
df = pd.read_csv("Data_Train1.csv")

In [8]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [13]:
print(df.shape)

(10683, 11)

In [14]:
print(df.dtypes)

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [21]:
df["Airline"] = df["Airline"].astype("str")

In [22]:
df["Source"] = df["Source"].astype("str")

In [23]:
df["Destination"] = df["Destination"].astype("str")

In [26]:
df["Route"] = df["Route"].astype("str").str.replace("→", "-")

In [ ]:
# df["Dep_Time"] = df["Dep_Time"].astype("str").str.replace(":", ".").astype("float")

In [27]:
df["Date_of_Journey"] = df["Date_of_Journey"].astype("datetime64[ns]")

/var/folders/rb/y3r1w8zs1kg00_cgq7w_sg0w0000gn/T/ipykernel_2129/2463127541.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Date_of_Journey"] = df["Date_of_Journey"].astype("datetime64[ns]")

In [29]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR - DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897
1,Air India,2019-01-05,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL - LKO - BOM - COK,09:25,04:25 10 Jun,19h,2 stops,13882
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU - NAG - BLR,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR - NAG - DEL,16:50,21:35,4h 45m,1 stop,13302

In [25]:
df = df.drop(["Additional_Info"], axis = 1)

In [15]:
print(df["Airline"].value_counts())

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [16]:
print(df["Source"].value_counts())

Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [17]:
print(df["Destination"].value_counts())

Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [31]:
print(df["Route"].value_counts())

DEL - BOM - COK          2376
BLR - DEL                1552
CCU - BOM - BLR           979
CCU - BLR                 724
BOM - HYD                 621
                         ...
CCU - VTZ - BLR             1
CCU - IXZ - MAA - BLR       1
BOM - COK - MAA - HYD       1
BOM - CCU - HYD             1
BOM - BBI - HYD             1
Name: Route, Length: 129, dtype: int64

In [32]:
print(df.isna().sum())

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Price              0
dtype: int64

In [42]:
df = df.dropna(axis = 0, how = "any")

In [44]:
# print(df.isna().sum())

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
dtype: int64