In [2]:
import pandas as pd
import statistics as st
import matplotlib_inline as plt
import numpy as np

In [3]:
pd.read_excel("Data_Train.xlsx").to_csv("Data_Train1.csv", index=False)

In [4]:
df = pd.read_csv("Data_Train1.csv")

In [5]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
print(df.shape)

(10683, 11)

In [7]:
print(df.dtypes)

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [8]:
df["Airline"] = df["Airline"].astype("str")

In [9]:
df["Source"] = df["Source"].astype("str")

In [10]:
df["Destination"] = df["Destination"].astype("str")

In [11]:
df["Route"] = df["Route"].astype("str").str.replace("→", "-")

In [12]:
# df["Dep_Time"] = df["Dep_Time"].astype("str").str.replace(":", ".").astype("float")

In [17]:
df["Date_of_Journey"] = df["Date_of_Journey"].astype("datetime64[ns]")

In [16]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR - DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU - IXR - BBI - BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL - LKO - BOM - COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU - NAG - BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR - NAG - DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [25]:
df = df.drop(["Additional_Info"], axis = 1)

In [15]:
print(df["Airline"].value_counts())

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [16]:
print(df["Source"].value_counts())

Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [17]:
print(df["Destination"].value_counts())

Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [31]:
print(df["Route"].value_counts())

DEL - BOM - COK          2376
BLR - DEL                1552
CCU - BOM - BLR           979
CCU - BLR                 724
BOM - HYD                 621
                         ...
CCU - VTZ - BLR             1
CCU - IXZ - MAA - BLR       1
BOM - COK - MAA - HYD       1
BOM - CCU - HYD             1
BOM - BBI - HYD             1
Name: Route, Length: 129, dtype: int64

In [32]:
print(df.isna().sum())

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Price              0
dtype: int64

In [42]:
df = df.dropna(axis = 0, how = "any")

In [44]:
# print(df.isna().sum())

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
dtype: int64

In [26]:
duplicate_data = df.loc[df.duplicated(['Price'])]
duplicate_data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
8,Jet Airways,2019-03-12,Banglore,New Delhi,BLR - BOM - DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
30,Vistara,2019-06-18,Chennai,Kolkata,MAA - CCU,07:05,09:20,2h 15m,non-stop,No info,3687
42,Jet Airways,2019-05-18,Delhi,Cochin,DEL - BOM - COK,20:55,19:00 19 May,22h 5m,1 stop,In-flight meal not included,12373
46,IndiGo,2019-05-27,Banglore,Delhi,BLR - DEL,04:00,06:50,2h 50m,non-stop,No info,3943
47,Air India,2019-05-03,Chennai,Kolkata,MAA - CCU,11:40,13:55,2h 15m,non-stop,No info,4667
...,...,...,...,...,...,...,...,...,...,...,...
10677,SpiceJet,2019-05-21,Banglore,Delhi,BLR - DEL,05:55,08:35,2h 40m,non-stop,No check-in baggage included,3257
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU - BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU - BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR - DEL,08:20,11:20,3h,non-stop,No info,7229
10682,Air India,2019-05-09,Delhi,Cochin,DEL - GOI - BOM - COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [27]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [42]:
total_airlines=df['Airline'].nunique()
total_airlines

12

In [28]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [29]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [38]:
average_price = df.groupby(['Source','Destination'])['Price'].mean().reset_index()
average_price

     Source Destination         Price
0  Banglore       Delhi   5143.918577
1  Banglore   New Delhi  11917.716738
2   Chennai     Kolkata   4789.892388
3     Delhi      Cochin  10539.439057
4   Kolkata    Banglore   9158.389411
5    Mumbai   Hyderabad   5059.708752

In [40]:
# finding the average price for each airline
Average_Airline_price = df.groupby('Airline')['Price'].mean()

summary_statistics = pd.DataFrame({"Average Airline TIcket Price":Average_Airline_price})
summary_statistics

                                   Average Airline TIcket Price
Airline
Air Asia                                            5590.260188
Air India                                           9611.210616
GoAir                                               5861.056701
IndiGo                                              5673.682903
Jet Airways                                        11643.923357
Jet Airways Business                               58358.666667
Multiple carriers                                  10902.678094
Multiple carriers Premium economy                  11418.846154
SpiceJet                                            4338.284841
Trujet                                              4140.000000
Vistara                                             7796.348643
Vistara Premium economy                             8962.333333